
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin - {{ get_site_title() }}</title>
<meta name="description" content="FilipinoPopCulture is your ultimate community for everything related to Filipino entertainment, lifestyle, and culture! Whether you&#039;re a fan of local movies,...">
<meta name="application-name" content="{{ get_site_title() }}">

<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/adminlte.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/fontawesome.min.css') }}" rel="stylesheet">