{% extends 'template/admin/_post.twig' %}
{% block page_name %}Site Content{% endblock %}
{% block body %}
  <style>
    .ck-editor__editable {
        min-height: 300px; /* Adjust this value as needed */
    }
  </style>
  <section class="content">
    <div class="card-body">
      {% if get_flash_message("notification_warning") %}
          <div class="alert alert-warning" role="alert">
              {{get_flash_message("notification_warning")}}
          </div>
      {% endif %}
      {% if get_flash_message("notification_success") %}
          <div class="alert alert-success" role="alert">
              {{get_flash_message("notification_success")}}
          </div>
      {% endif %}
      <form id="nestedForm" method="POST" action="{{ '/admin/content/update' | base_url }}">  
        <input type="text" hidden name="id" required value="{{ data.id }}">  
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" name="title" class="form-control" required value="{{ data.title }}">
        </div>
        <div class="mb-3">
          <label class="form-label">Content</label>
          <textarea name="content" id="editor">{{ data.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      <a href="{{ '/admin/content' | base_url }}" class="btn btn-secondary">Back</a>
       </form>
    </div>
  </section>

  <script type="importmap">
			{
				"imports": {
					"ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.js",
					"ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.1.0/"
				}
			}
		</script>
		<script type="module">
			import {
				ClassicEditor,
				Essentials,
				Paragraph,
				Bold,
				Italic,
        Heading,
        SimpleUploadAdapter,
        Image,
        ImageResize,
        ImageUpload,
        ImageCaption,
        ImageStyle,
        ImageToolbar,
        ImageInsertViaUrl,
				Font
			} from 'ckeditor5';
      document.querySelectorAll('.editor').forEach((element) => {

      });
			ClassicEditor
				.create( document.querySelector( '#editor' ), {
					plugins: [ Heading, Essentials, Paragraph, Bold, Italic, Font, SimpleUploadAdapter, Image, ImageCaption, ImageStyle, ImageToolbar, ImageInsertViaUrl, ImageUpload, ImageResize],
					toolbar: [
						'heading', '|', 'undo', 'redo', '|', 'bold', 'italic', '|',
						'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'insertImage'
					],
          image: {
              toolbar: [
                  'imageStyle:inline', 'imageStyle:block', 'imageStyle:side', '|',
                  'toggleImageCaption', 'imageTextAlternative'
              ]
          },
          simpleUpload: {
            // The URL that the images are uploaded to.
            uploadUrl: "{{ '/admin/content/upload' | base_url }}",

            // Enable the XMLHttpRequest.withCredentials property.
            withCredentials: true,

            // Headers sent along with the XMLHttpRequest to the upload server.
            headers: {
                'X-CSRF-TOKEN': 'CSRF-Token',
                Authorization: 'Bearer <JSON Web Token>'
            }
          }
				} )
				.then( editor => {
					window.editor = editor;
				} )
				.catch( error => {
					console.error( error );
				} );
		</script>
{% endblock %}