{% extends 'template/admin/_post.twig' %}
{% block page_name %}Manage Extensions{% endblock %}
{% block body %}
  <section class="content">
      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">package</th>
              <th scope="col">Extension</th>
              <th scope="col" style="text-align: center;">Enable</th>
            </tr>
          </thead>
          <tbody>
            {% for feature in features %}
            <tr>
              <td>
                {{ feature.name }}<br />
                v{{ feature.version }} 
              </td>
              <td>
                <i class="{{ feature.extra['salad-extension'].icon }}"></i> <strong>{{ feature.extra['salad-extension'].title }}</strong><br />
                {{ feature.description }}
              </td>
              <td  style="text-align: center;">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggleSwitchButton" onclick='updateExtension("{{feature.name }}",{{ check_extension_enabled(feature.name)}});' {{ check_extension_enabled(feature.name) ? "checked" : ""}}>
                </div>
              </td>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </section>

  <script>
    function updateExtension(package, status = 0){
      if(status){
        window.location.replace(`{{ '/admin/extension/disable' | base_url }}?name=${package}`);
      } else {
        window.location.replace(`{{ '/admin/extension/enable' | base_url }}?name=${package}`);
      }
    }
  </script>
{% endblock %}